.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .stage{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -99;
    }

    .controls {
        float: right;
        opacity: .8;
        transition: opacity .2s ease-in-out;
    }

    .controls:hover{
        opacity: 1;
    }
}