.switch {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 1rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
    box-shadow:  0 0 5px var(--shadow-color);

    >.switch-thumb {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        left: 0;
        width: 50%;
        height: 1rem;
        border-radius: .5rem;
        background-color: var(--bg-color);
        box-shadow: 0 0 5px var(--shadow-color);
    }
}

.switch[data-checked="true"] {
    background-color: var(--checked-color);

    >.switch-thumb {
        left: 50%;
    }
}

.switch:focus{
    box-shadow:  0 0 5px var(--theme-shadow-color);
}