.icon-box {
    display: flex;
    position: relative;
    width: calc(100% - var(--margin-small));
    height: 100%;
    justify-content: center;
    align-items: center;
    color: inherit;
    margin: 0 var(--margin-small);

    .icon {
        width: 100%;
        color: inherit;
    }
}