.search-input {
    display: flex;
    min-height: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);

    .search {
        height: 100%;
    }
}