.search-input {
    display: flex;
    min-height: 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);

    .input {
        min-width: 4rem;
        height: 100%;
        border: none;
        padding: var(--margin-small);
        border-radius: var(--radius);
        background-color: var(--dark-background);
    }

    .search {
        height: 100%;
    }
}