.file-option{
    display: flex;
    height: 2rem;
    align-items: center;
    padding: var(--margin-small);
    // margin: var(--margin-small);
    border-radius: var(--radius);
    transition: background-color .3s ease-in-out;

    .icon {
        width: 2rem;
        margin-right: var(--margin-small);
    }
}

.file-option:hover{
    background-color: var(--hover-bg);
}