.menu {
    position: absolute;
    top: calc(100% + .25rem);
    left: 0;
    min-width: 16rem;
    min-height: 1rem;

    .menu-box {
        position: sticky;
        top: 2rem;
        left: 2rem;
        bottom: 2rem;
        right: 2rem;
        min-width: 16rem;
        min-height: 1rem;
        padding: .25rem;
        background-color: var(--background);
        border-radius: .25rem;
        box-shadow: 0 0 5px var(--shadow-color);
    }
}